@media (min-width:768px) and (max-width:992px) {
    /*Aligns*/
    .ipad-mb-30 {
        margin-bottom: 30px;
    }
    .ipad-mb-0 {
        margin-bottom: 0 !important;
    }
    .main {
        top: 0;
        bottom: 0;
    }
    .section {
        padding: 50px;
    }
    .section:after {
        height: 20px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    /*Responsive menu*/
    ul.menu-other {
        display: block;
        float: none;
    }
    ul.menu-other li {
        width: 50px;
        margin: 0;
        border: 0;
        padding: 0;
        height: 50px;
    }
    /*Home*/
    .person-img {
        position: absolute;
        bottom: 45%;
        top: 30px;
        right: 30px;
        z-index: 99;
        border-bottom: 2px solid #235BC5;
        left: 30px;
    }
    .person-img img {
        margin: 0 auto;
    }
    .hometext {
        padding-top: 80%;
    }
    /*About*/
    blockquote.general-bg {
        height: auto;
        padding: 30px 20px
    }
    /*Education*/
    .education i,
    .experience i {
        top: 5px;
        left: 5px;
    }
    /*Portfolio*/
    .filters-button-group .btn {
        margin-top: 30px;
        margin-right: 0;
    }
    /*Contact*/
    .contact-info {
        padding: 10px;
    }
}

@media (max-width:767px) {
    /*Aligns*/
    .mob-mb-30 {
        margin-bottom: 30px;
    }
    .mob-mb-0 {
        margin-bottom: 0 !important;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .section {
        padding: 15px;
    }
    .section-header {
        margin-bottom: 30px;
    }
    .section:after {
        height: 50px;
    }
    .main {
        bottom: 0;
    }
    /*Responsive menu*/
    ul.menu-other {
        display: block;
        float: none;
    }
    ul.menu-other li {
        width: 50px;
        margin: 0;
        border: 0;
        padding: 0;
        height: 50px;
    }
    /*Quick info*/
    .quick-info.open {
        right: 0;
        left: 0;
        width: 100%;
        padding: 15px;
    }
    /*General*/
    .general-bg {
        width: 100%;
        min-width: auto;
    }
    /*Home*/
    .hometext .general-bg {
        margin-top: 30px;
        margin-right: 0;
    }
    /*About*/
    blockquote.general-bg {
        height: auto;
        padding: 30px 20px
    }
    .hobby li {
        padding-right: 15px;
    }
    /*Skills*/
    .skills .skill {
        padding: 30px 9px;
    }
    canvas {
        height: 100px !important;
        width: 100px !important;
    }
    .skills p {
        top: 68px;
right: 92px;
    }
    /*Education*/
    .education i,
    .experience i {
        top: 5px;
        left: 5px;
    }
    /*Portfolio*/
    .filters-button-group .btn {
        margin-top: 30px;
        margin-right: 0;
    }
    .mfp-close-btn-in .mfp-close {
        top: 0;
        right: 0;
    }
    /*Contact*/
    .social-icons {
        float: none;
        text-align: center;
    }
    .social-icons li {
        margin-right: 0;
        padding: 0;
    }
    .social-icons a {
        margin-right: 0;
    }
}