/*
Project      : Cvi | Responsive vCard / Resume / CV Template
Version      : v1.0
Author       : BaratHadian
Support url  : # email: barat.hadian@gmail.com

========================

Table of content
 - Fonts
 - Generall
 - Preloader
 - Main Background
 - Main Menu
 - Responsive Menu
 - Quick info
 - Main Content
 - Home Section
 - About Section
 - Skills Section
 - Education Section
 - Experience Section
 - Portfolio Section
 - Contact Section
*/


/* Fonts ======================== */

@import url('ionicons.min.css');
@import url('vazir-font-face.css');
@import url('sahel-font-face.css');

/* General styles ======================== */

h1,
h2,
h3,
h4,
h5,
h6{
font-family: sahel, sans-serif;
}
.quick-info .text-left {
    text-align: right;
}






body {
    direction: rtl;
    color: #666;
    background: #fff;
    font-family: vazir, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}


/*Generall classes*/

.no-scroll {
    overflow: hidden;
}

.color {
    color: #235BC5;
    font-weight: 600;
}

.icon {
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
}


/*Generall Background*/

.general-bg {
    background: #fff;
    border: solid 2px #f9f9f9;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    transition: all .5s;
}

.general-bg:hover,
.second-bg,
.is-checked {
    background: #235BC5;
    border-color: #235BC5;
    color: #fff;
    font-weight: 600;
}

.general-bg:hover h4,
.general-bg:hover p,
.general-bg:hover i,
.general-bg:hover span {
    color: #fff;
}


/*Selection*/

::-moz-selection {
    color: #fff;
    background: #235BC5;
}

::selection {
    color: #fff;
    background: #235BC5;
}


/*Scrollbar*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #235BC5;
}


/*Aligns*/

.pt-100 {
    padding-top: 100px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}


/*Typography*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0px;
    padding: 0px;
    color: #232323;
}

h1,
h2,
h3 {
    font-weight: bold;
}

p {
    color: #666;
    font-size: 16px;
    font-weight: 500;
}


/*Links*/

a {
    font-weight: 600;
    font-size: 16px;
}

a:hover {
    color: #235BC5;
    text-decoration: none;
}

a:focus,
a:active {
    outline: 0;
    outline-offset: 0px;
    text-decoration: none;
    color: #232323;
}


/*Button*/

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn:active {
    outline: 0px;
    box-shadow: 0 0 0;
    color: #fff;
}


/* Preloader ======================== */

#loading {
    background-color: #235BC5;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    margin-top: 0px;
    top: 0px;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 20px;
    width: 100px;
    margin-top: -10px;
    margin-left: -50px;
}

.object {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    position: absolute;
}

#object_one {
    -webkit-animation: object 2s linear infinite;
    animation: object 2s linear infinite;
}

#object_two {
    -webkit-animation: object 2s linear infinite -.4s;
    animation: object 2s linear infinite -.4s;
}

#object_three {
    -webkit-animation: object 2s linear infinite -.8s;
    animation: object 2s linear infinite -.8s;
}

#object_four {
    -webkit-animation: object 2s linear infinite -1.2s;
    animation: object 2s linear infinite -1.2s;
}

#object_five {
    -webkit-animation: object 2s linear infinite -1.6s;
    animation: object 2s linear infinite -1.6s;
}

@-webkit-keyframes object {
    0% {
        left: 100px;
        top: 0
    }
    80% {
        left: 0;
        top: 0;
    }
    85% {
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
    }
    90% {
        width: 40px;
        height: 15px;
    }
    95% {
        left: 100px;
        top: -20px;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 100px;
        top: 0;
    }
}

@keyframes object {
    0% {
        left: 100px;
        top: 0
    }
    80% {
        left: 0;
        top: 0;
    }
    85% {
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
    }
    90% {
        width: 40px;
        height: 15px;
    }
    95% {
        left: 100px;
        top: -20px;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 100px;
        top: 0;
    }
}


/* Main Background ======================== */

.person-img {
    position: absolute;
    bottom: 0;
    top: 30px;
    left: 30px;
    z-index: 99;
}

.person-img>img {
    width: 100%;
    height: 100%;
}


/* Main Menu ======================== */

.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 199;
}

.menu img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
}

.menu nav {
    height: 70px;
    padding: 15px;
    background: #FFF;
    box-shadow: 0 0px 5px rgba(0, 0, 0, .1);
}

ul.menu-links {
    display: inline-block;
float: right;
}

ul.menu-other {
    display: inline-block;
float: left;
}

.menu nav li {
    margin: 0;
margin-right: 15px;
}

.menu nav ul.menu-other li {
margin-right: 5px;
    padding: 0;
}

nav a:hover i {
    color: #235BC5;
}

nav a.arabic-link {
    letter-spacing: 0;
}

a.menu-other-link {
    height: 30px;
    width: 30px;
    background: #235BC5;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    line-height: 30px;
    color: #fff;
}

a.menu-other-link:hover i {
    color: #fff;
}


/* Responsive Menu ======================== */

.resposive-navbar-toggle {
    background: #235BC5;
    z-index: 888;
    position: absolute;
    top: 20px;
left: 20px;
    z-index: 999;
}

.resposive-navbar-close {
    background: #232323;
    color: #fff;
}

.resposive-navbar-toggle i,
.resposive-navbar-close i {
    color: #fff;
}

.responsive-menu {
    position: fixed;
    top: 0;
    bottom: 0;
right: 100%;
    min-width: 100%;
    background: #fff;
    z-index: 999;
    padding: 20px;
    overflow-y: scroll;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
}

.responsive-menu ul {
    margin-top: 15px;
}

.responsive-menu li {
    margin: 5px 0px;
    border: 3px solid #f9f9f9;
}

.responsive-menu li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
}

.responsive-menu li a.color {
    color: #fff;
    background: #235BC5;
}

.responsive-menu li a.color i {
    color: #fff
}

.responsive-menu.open {
right: 0;
}


/* Quick info ======================== */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    z-index: 999;
    display: none;
}

.quick-info {
    position: fixed;
    top: 0;
    bottom: 0;
left: -500px;
    width: 380px;
    background: #235BC5;
    box-shadow: -2px 0 10px rgba(0, 0, 0, .4);
    z-index: 999;
    padding: 30px;
    overflow-y: scroll;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}

.quick-info.open {
left: 0;
}

.quick-img,
.quick-head,
.quick-content,
.quick-close {
    margin-bottom: 30px;
}


/*close*/

.quick-close {
    background: #fff;
}


/*image*/

.quick-img img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid #fff;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}


/*head*/

.quick-head h4,
.quick-head h5,
.quick-content p {
    color: #fff;
}

.quick-head h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.quick-social .menu-other-link {
    background: #fff;
    color: #232323;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    line-height: 40px
}

.quick-social .menu-other-link:hover i {
    color: #232323;
}

.quick-social .menu-other-link i {
    font-size: 18px;
}


/* Main Content ======================== */

.main {
    position: fixed;
    z-index: 55;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 70px;
    background: transparent;
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 70px 100px;
    padding-bottom: 0;
}

.section:after {
    content: ' ';
    display: block;
    height: 100px;
}

body.show-menu .section.active,
.section {
    opacity: 0;
    visibility: hidden;
    z-index: 95;
}

.section.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

.section-header {
    position: relative;
    margin-bottom: 50px;
}


/* Home Section ======================== */

.main-section {
    overflow: visible;
    padding: 0;
}

.main-section,
.main-section>.row,
.main-section>.row>div {
    height: 100%;
    position: relative;
}

.home-body {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    overflow-y: auto;
}

.home-body>.hbody {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.hometext {
    padding-left: 0;
}

.hometext>h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 1.4em;
    margin: 0;
    text-transform: uppercase;
}

.hometext>p {
    margin-top: 50px;
}

.hometext .general-bg {
    margin-top: 50px;
    margin-left: 30px;
    padding: 10px 20px;
    min-width: 170px;
}


/* About Section ======================== */

#about img {
    height: 160px;
    border: solid 2px #f9f9f9;
}


/*Info*/

.info-list {
    margin-top: -10px;
}

.info-list>li {
    padding: 10px 0px 10px 10px;
    background: #FFF;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    margin-top: 2px;
    color: #232323;
}

.info-list span {
    color: #666;
    font-weight: 500;
}

.info-list strong {
    background: #235BC5;
    border: 3px solid #235BC5;
    padding: 0px 10px;
    min-width: 120px;
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    border-radius: 5px;
}


/*Quote*/

blockquote.general-bg {
    height: 160px;
    margin-bottom: 0px;
text-align: right;
    padding-top: 30px;
    background: #235BC5;
    border-color: #235bc5;
}

blockquote.general-bg p,
blockquote.general-bg footer {
    color: #fff;
}

blockquote p {
    font-size: 22px;
    line-height: 36px;
}

blockquote footer {
text-align: left;
}


/*Services*/

.service {
    padding: 50px 0px;
    width: 100%;
}

.service>h4 {
    margin-top: 30px;
    font-weight: bold;
}

.service i {
    font-size: 40px;
}


/* Skills Section ======================== */


/*Skills*/

.skills .skill {
    padding: 15px;
    width: 100%;
}

.skills p {
    position: absolute;
    top: 60px;
right: 38%;
    font-weight: bold;
    font-size: 18px;
}

.skills h4 {
    margin-top: 15px;
}

.skills .general-bg:hover {
    background: #fff;
    border-color: #f9f9f9;
}

.skills .general-bg:hover h4 {
    color: #232323;
}

.skills .general-bg:hover span,
.skills .general-bg:hover p {
    color: #666;
}


/*Language*/

.lang .progress {
    height: 8px;
    margin-bottom: 36px;
    background-color: #e8e8e8;
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
}

.lang .progress-bar {
    line-height: 8px;
    background-color: #235BC5;
    box-shadow: none;
    position: relative;
}

.progress-bar-label {
    margin-bottom: 15px;
}

.lang span {
    padding-right: 10px;
    color: #235BC5;
}

body .b_label {
    color: #232323;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

body .bar_group .elastic {
    background: #235BC5;
}

body .b_tooltip {
    background: transparent;
    border-radius: 5px;
    border-bottom: 4px solid #235BC5;
    color: #232323;
    padding: 0px 5px 5px;
    right: 0;
}

body .b_tooltip--tri {
    border-color: rgba(35, 91, 197, 0.81) transparent transparent transparent;
    bottom: -8px;
}

body .b_tooltip span {
    color: #232323;
    padding-right: 0;
    font-weight: bold;
    font-size: 14px;
}


/*Hobbies*/

.hobby li {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.hobby i {
    padding-left: 10px;
    color: #235BC5;
}


/* Education Section and Experience Section ======================== */

#education span {
    width: 100%;
    padding: 10px 0px;
}

.education,
.experience {
    text-align: right;
    padding: 30px;
}

.education>h4,
.experience>h4 {
    margin: 10px 0px 20px 0px;
}

.education i,
.experience i {
    font-size: 33px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #232323;
}

.experience span {
    padding-left: 10px;
}


/*Testimonials*/

.testim img {
    height: 70px;
    width: 70px;
    float: right;
    margin-left: 30px;
    margin-bottom: 5px;
    padding: 0;
    min-width: auto;
}

.testim p {
    margin-bottom: 5px;
}

.testim span {
    font-weight: 600;
}

.owl-pagination {
    text-align: right;
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    background: #666;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    opacity: .3;
}

.owl-theme .owl-controls .active span {
    background: #235BC5;
}


/* Portfolio Section ======================== */


/*header*/

.folio-header {
    display: inline-block;
    float: right;
    margin-left: 30px;
}

.filters-button-group {
    display: inline-block;
}

.filters-button-group .btn {
    min-width: auto;
    padding: 10px 15px;
    margin-left: 5px;
}

.filters-button-group .btn.focus,
.filters-button-group .btn:focus,
.filters-button-group .btn:hover {
    color: #fff;
}

.filters-button-group .is-checked .badge,
.filters-button-group .general-bg:hover .badge {
    background: #fff;
    color: #235bc5
}


/*work*/

.element-item{
    position: relative !important;
    top: auto !important;
    left: auto !important;
    float: left !important;
}

.folio {
    height: 250px;
    margin-bottom: 30px;
    padding: 0;
    border: solid 2px #f9f9f9;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
}

.folio img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid;
    border-color: transparent;
}


/*hover*/

.hover-text {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    height: 250px;
    opacity: 0;
    border-width: 0;
}

.hover-text i {
    font-size: 22px;
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    color: #232323 !important;
    display: block;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.hover-text h4 {
    margin: 20px 0px 5px 0px;
}

.folio:hover .hover-text {
    opacity: 1;
}


/*popup*/

.mfp-bg {
    background: #fff;
    opacity: .9;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
    background: #235BC5;
    border-radius: 50%;
    top: -20px;
    right: -20px;
    opacity: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 0px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.white-popup img {
    width: 100%;
    height: 100%;
}

.popup-text {
    padding: 30px;
    text-align: right;
}

.popup-text h4 {
    margin-bottom: 10px;
}


/* Contact Section ======================== */

.contact-info {
    padding: 30px;
    width: 100%;
}

.contact-info i {
    font-size: 40px;
}

.contact-info h4 {
    margin: 30px 0px 10px 0px;
}

#contact label {
    font-weight: 500;
    color: #666;
}

#contact .form-control {
    box-shadow: 0 0 0;
    background: #fff;
    border: solid 2px #f9f9f9;
    border-radius: 5px;
    height: 40px;
}

#contact textarea.form-control {
    height: auto;
    resize: vertical;
}

#contact .form-control:focus {
    background: #f7f7f7;
    font-size: 14px;
    font-weight: 500;
    color: #232323;
    border: solid 2px #f9f9f9;
    border-radius: 5px;
    outline: 0;
    box-shadow: 0 0 0;
}

#contact button {
    padding: 10px;
    min-width: 170px;
}

.social-icons {
    float: left;
}

.social-icons a {
    height: 40px;
    width: 45px;
    line-height: 40px;
    padding: 0;
    margin-right: 5px;
    min-width: auto;
}